<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

      <context:property-placeholder location="config.properties" />

      <bean id="mathTeacherSecond"
            class="com.devmind.springApp.withoutXMLorProperties.MathTeacher">
      </bean>

      <bean id="javaTeacher"
            class="com.devmind.springApp.withPropertie.JavaTeacher">
      </bean>

      <bean id="historyTeacher"
            class="com.devmind.springApp.withXML.HistoryTeacher">
      </bean>

      <bean id="cat"
            class="com.devmind.springApp.homework.Cat">
      </bean>

      <bean id="dog"
            class="com.devmind.springApp.homework.Dog">
      </bean>

      <bean id="mouse"
            class="com.devmind.springApp.homework.Mouse">
      </bean>

      <bean id="myWisdomService"
            class="com.devmind.springApp.withXML.WisdomWordsService">
      </bean>

      <bean id="myHomework"
            class="com.devmind.springApp.withXML.HomeworkService">
      </bean>

      <bean id="javaTeacherXML"
            class="com.devmind.springApp.withXML.JavaTeacher">
            <constructor-arg ref="myWisdomService"/>
            <constructor-arg ref="myHomework"/>
            <constructor-arg index="2" value="70"/>
            <property name="age" value="${age}"/>
      </bean>

      <bean id="mathTeacher"
            class="com.devmind.springApp.withXML.MathTeacher">
            <property name="wisdomService" ref="myWisdomService"/>
      </bean>
</beans>