<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy"
>

    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <context:component-scan base-package="com.devmind.course5" />

<!--    <bean id="school"-->
<!--          class="com.devmind.course5.School"-->
<!--          scope="singleton"-->
<!--          lazy-init="true">-->
<!--                    <constructor-arg index="0" value="DEVMIND"/>-->
<!--                    <constructor-arg index="1" ref="address"/>-->
<!--    </bean>-->

<!--    <bean id="teacher" class="com.devmind.course5.Teacher" scope="prototype">-->
<!--        <property name="name" value="Gabi"/>-->
<!--        <property name="school" value="school"/>-->
<!--    </bean>-->

    <bean id="address" class="com.devmind.course5.Address" scope="prototype">
        <property name="streetName" value="Iuliu Maniu"/>
    </bean>

    <bean id="task"
          class="com.devmind.course5.Task"
          scope="prototype"
          destroy-method="destroy">
    </bean>

    <bean id="taskAspect"
          class="com.devmind.course5.TaskAspect"></bean>

    <aop:config>
        <aop:aspect id="aspect" ref="taskAspect"/>
    </aop:config>

</beans>